[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi
[submodule "external/DirectX-Headers"]
	path = external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
